@page
@model Dumdum.Pages.IndexModel
@{
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <title>ANTSHARK GAMES</title>
    </head>
    <body>
        <div style="text-align:center">
            <h1 class="display-1">SWOLLBALL</h1>
            <h4 class="display-4"><a href="Swollball\Swollball_Instructions.html" target="_blank" rel="noopener noreferrer">Instructions</a></h4>
            <h1>
                <hr />
                <a href="Swollball\Swollball_Host">HOST GAME</a>
                <hr />
                <a href="Swollball\Swollball_Player">JOIN GAME</a>
                <hr />
            </h1>
        </div>
        <div style="text-align:right">
            @if (Model.AuthResult != null)
            {
                <h5>
                    @Model.AuthResult.Email
                    <br>
                    <a href="@Model.ClearCookiesLink">SIGN OUT</a>
                    <hr />
                </h5>
            }
            else
            {
                <h5>
                    <a href="@Model.MSAAuthLink">SIGN IN WITH MICROSOFT</a>
                    <br>
                    <a href="@Model.GoogleAuthLink">SIGN IN WITH GOOGLE</a>
                    <hr />
                </h5>
            }
        </div>
        <h6>
            <a href="Swollball\Swollball_LobbyList">Lobby List</a><br>
            <a href="\checklogin">User Info</a><br>
        @Model.BuildNumber
        </h6>
    </body>
    </html>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
}
